<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
   
    <div th:replace="fragments/commonui::header"></div>

    <title>Appointment edit</title>
<body>
    <div th:replace="fragments/commonui::usermenu"></div>
    <div class="container">
        <div class="card">
            <div class="card-header bg-info text-white text-center">
                <h3>Appointment edit page</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/app/update}" method="post" th:object="${appointment}">
                    <!--row#0-->
                    <div class="row">
                        <div class="col-3">
                            <label>ID</label>
                        </div>
                        <div class="col-4">
                            <input type="text" th:field="*{appId}" class="form-control" readonly/>
                        </div>
                        <div class="col-5">
                            <span id="appDateError"></span>
                        </div>
                    </div>

                     <!--row# Doctor-->

                     <div class="row">
                        <div class="col-3">
                            <label>Doctor</label>
                        </div>
                        <div class="col-4">
                             <select id="doctor" th:field="*{doctor.docId}">
                                 <option th:each="ob:${doctors}" th:value="${ob.key}" th:text="${ob.value}"/>
                              </select>
                        </div>
                        <div class="col-5">
                            <span id="appDocError"></span>
                        </div>
                    </div>
                    
                    <!--row#1-->
                    <div class="row">
                        <div class="col-3">
                            <label>Date</label>
                        </div>
                        <div class="col-4">
                            <input type="date" th:field="*{appDate}" class="form-control"/>
                        </div>
                        <div class="col-5">
                            <span id="appDateError"></span>
                        </div>
                    </div>
                    <!--row#2-->
                    <div class="row">
                        <div class="col-3">
                            <label>No.of Slots</label>
                        </div>
                        <div class="col-4">
                            <input type="text" th:field="*{appSlots}" class="form-control"/>
                        </div>
                        <div class="col-5">
                            <span id="appSlotsError"></span>
                        </div>
                    </div>
                    <!--row#3-->
                    <div class="row">
                        <div class="col-3">
                            <label>Details</label>
                        </div>
                        <div class="col-4">
                            <textarea th:field="*{appDetails}" class="form-control"></textarea>
                        </div>
                        <div class="col-5">
                            <span id="appDetailsError"></span>
                        </div>
                    </div>
                     <!--row#4-->
                     <div class="row">
                        <div class="col-3">
                            <label>Consulation fee</label>
                        </div>
                        <div class="col-4">
                            <input type="text" th:field="*{appFee}" class="form-control"/>
                        </div>
                        <div class="col-5">
                            <span id="appFeeError"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">Update <i class="fa fa-plus-square" aria-hidden="true"></i> </button>

                    </div>
                </form>
            </div>
          
            <div class="card-footer bg-light text-success" th:if="${message!=null}">
              [[${message}]]
            </div>

            <!--card footer end-->

        </div>
        <!--card  end-->
    </div>
    <!--container end-->
</body>
</html>